body{
    background-color: #F2F2F2;
}


/*Article Style*/
article {
    margin-top: 40px;
    margin-bottom: 60px;
}


/*Nav bar style*/
nav a {
    font-family: 'Courier New', Courier, monospace;
    padding: 0.5em 0.5em 0.5em 0.5em;
}
  
a {
    color: #323663;
    transition: color 0.25s;
}
  
a:hover {
    color: #3F4354;
    font-weight: bold;
}
  
.sidebar-logo {
    width: 150px;
}
  
.center p {
    text-align: center;
}


/*Logo Styles*/
.section-logo {
    width: 400px;
    height: 200px;
}


/*Typography Style*/
body {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    line-height: 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: #323663;
  line-height: 1em;
}

h1 {
    font-weight: 700;
    font-size: 64pt;
}

h2{
    font-size: 48pt;
}

h2,h3,h4,h5,h6 {
    font-weight: 600;
}
  
.type-styles {
    margin-top: 40px;
}
  
.type-faces {
    margin-top: 40px;
}
  
.type-faces-01 {
    font-family: Arial, Helvetica, sans-serif;
}
  
.type-faces-02 {
    font-family: 'Courier New', Courier, monospace;
}


/*Color Styles*/
.color-shape {
    display: block;
    text-align: center;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    margin: 0.5em;
    border: 1px solid white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

.color-pink {
    background: #FFEEF5;
}
  
.color-teal {
    background: #008080;
}
  
.color-navy {
    background: #323663;
}
  
.color-white {
    background: #F2F2F2;
}
  
.color-darkpink {
    background: #FADADD;
}
  
.color-darkteal {
    background: #536872;
}
  
.color-darknavy {
    background: #3F4354;
}
  
.color-gray {
    background: #9C9C9C;
}


/*Button Styles*/
.buttons button {
    height: 40px;
    width: 120px;
    border-radius: 4px;
    padding: 5px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
  
.button-normal {
    background: #008080;
    color: rgb(255, 255, 255);
}
  
.button-hover {
    background: rgb(215, 215, 215);
    color: #008080;
}
  
.button-pressed,
.button-loading {
    background: rgb(215, 215, 215);
    color: #008080;
    box-shadow: 0px 2px 6px #536872;
}
  
.button-disabled {
  
}


/*Icon Styles*/
.kay-icons i {
    margin-top: 40px;
    font-size: 30px;
    color: rgb(51, 51, 102);
}



/*Footer Icon*/
.socials i {
    font-size: 44px;
    color: #323663;
}
  
.socials i:hover {
    color: #3F4354;
}


/*Images*/
#Imagery img {
    padding: 10px;
}


/*Sidebar-container Style*/
nav {
    top: 0;
    left: 75px;
}
  
nav a,
nav h2 {
    display: block;
    position: relative;
    text-decoration: none;
}

.sidemenu {
    /* background: linear-gradient( #F8D353, #FF5C5A); */
    height: 100%;
    position: fixed;
    padding: 25px;
    width: 150px;
    background-color: #FADADD;
}


/*Content-container Style*/
.Content {
    /* background: yellow; */
    margin-top: 40px;
    margin-left: 290px;
    padding: 30px 30px;
    height: 100%;
}

.content-container {
    /* background: lightskyblue; */
    margin: 0 auto;
    max-width: 850px;
}

.row-container-no-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

.row-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
}

.row-container-around {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}


/*CSS display Style*/
pre {
    background: rgb(209, 232, 249);
    max-height: 85px;
    overflow: scroll;
    padding: 0.5em;
    border-radius: 4px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}
